<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace：必须与对应的接口全类名一致 id:必须与对应接口的某个对应的方法名一致-->
<mapper namespace="com.dao.RolesDao">
    <select id="findAllRolesByUserName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT sr.name name
        FROM sys_roles sr
        INNER JOIN sys_user_roles sur ON sr.id = sur.role_id
        INNER JOIN sys_users su ON su.id = sur.user_id AND su.username = #{userName}
    </select>
</mapper>